/* Reset styles */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

/* Page layout */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f7f7f7;
  display: flex;
  flex-direction: column;
}

header {
  background-color: #f7f7f7;
  padding: 20px;
  color: #333;
  display: flex;
  justify-content: space-between;
}

.navbar {
  text-align: right;
}

nav ul {
  list-style: none;
}

nav ul li {
  display: inline-block;
  margin-right: 10px;
}

nav ul li a {
  color: #333;
  text-decoration: none;
}

.container {
  min-height: calc(100vh - 20px);
  /* Adjust the margin value as needed */
  margin: auto;
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1;
}

footer {
  background-color: #f7f7f7;
  color: #333;
  padding: 20px;
  text-align: center;
  flex-shrink: 0;
}

/* Custom styles specific to CardCraft */

/* Add your custom styles here */